.grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}
.case{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.moveBoard{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
.title{
}
.App{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}