#root{
  background-color: aqua;
  background-image: url(./assets/tic-tac-tac.jpg);
  background-size: 300px 100px;;
  color: black;
  text-align: center;
  font-family: sansita
}

.grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  background-color: white
}
.case{
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.moveBoard{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
.title-container > *{
  text-orientation: upright;
}
.App{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.reset{
  margin: 4vh;
}
.case{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2;
}