#root{
  background-color: aqua;
  background-image: url(./assets/morpion.png);
  background-size: 100px;
  color: black;
  text-align: center;
  font-family: sansita
}
.title-container{
  display: flex;
  justify-content: space-around;
}

.grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  background-color: white
}
.case{
  height: 150px;
  width: 150px;
  border: 1px solid green;
}
.moveBoard{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
.App{
  align-items: center;
  /* justify-content:space-around; */
  /* display: flex; */
  /* flex-direction:row; */
  height: 100vh;
}
.reset{
  margin: 4vh;
}
.case{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2;
}



.wrapper{
  display: flex;
  justify-content: center;
}
.wrapper .texte{
  color: white;
  /* font-size: 60px; */
  /* font-weight: 400; */
  text-transform: uppercase;
}
.wrapper .dynamique-texte{
  margin-right: 20px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.dynamique-texte li {
  list-style: none;
  color: red;
  font-size: 60px;
  font-weight: 400;
  position: relative;
  top : 0;
  animation: slide 9s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px
  }
}
.dynamique-texte li {
  position: relative;
}
.dynamique-texte li ::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-left: 2px solid red;
  left: 0;
  background-color:#082032 ;
  animation: typing 2s steps(10) infinite;
}
@keyframes typing {
 40% , 60% {
   left:  calc(100% + 30px);
 }
 100%{
   left : 0
 }
}
.cart{
  padding: 32px 32px 0 32px;
  color: white;
  background-color: #31b572;
  max-width: 250px;
 
 
 }